/*Опис стилів для приємного вигляду для елементів классу row*/
.row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
/*сталий розмір для label*/
label {
    width: 20px;
}
/*розширення input*/
input{
    padding: 10px;
}

/*відступ між label*/
.answers label {
   margin-bottom: 5px;
}